
.v-application
  a
    color: inherit


// Home Page
.home-page
  .rating-badge
    position: absolute
    top: 10px
    right: 10px
    padding: 5px 7px
    border-radius: 10px
    font-size: 18px
    opacity: 0.85

    i
      font-size: 16px
      line-height: 1px


.fade-enter-active
  transition: opacity 1s

.fade-leave-active
  opacity: 0

.fade-enter, .fade-leave-to
  opacity: 0


// TWITTER HEART
.heart
  width: 100px
  height: 100px
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat
  background-position: 0 0
  cursor: pointer
  transition: background-position 1s steps(28)
  transition-duration: 0s
  position: absolute

  &[is-active]
    transition-duration: 1s
    background-position: -2800px 0


// BASIC
body
  background: linear-gradient(135deg, #121721 0%, #000000 100%) fixed
  color: #FFF
  font: 300 16px/1.5 "Open Sans", sans-serif


